<div class="block_one">
    <div>
        <nav>
            <img class="img_header" src="assets/assets/images/bg-sidebar-mobile.svg" alt="imgheader">
            <ul class="liste">
                <li class="pages"><a [routerLink]="['/block']">1</a></li>
                <li class="pages"><a [routerLink]="['/selectplan']">2</a></li>
                <li class="pages"><a [routerLink]="">3</a></li>
                <li class="pages"><a [routerLink]="">4</a></li>
            </ul>
        </nav>
    </div>
</div>
