.block_one {
    height: 25vh;
    
}



.img_header {
    width: 100%;
    position: absolute;
    
}

.liste {
    position: relative;
    display: flex;
    justify-content: center;
   
    
}

.pages {
    
    width: 50px;
    
}