.block_one {
    height: 25vh; 
    align-content: center;
}

.img_header {
    width: 100%;
    position: absolute;
    
}

.liste {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.pages {
    width: 80px;
    margin-top: 40px;
    
}

a {
    border-radius: 100%;
    border: 1px solid;
    color: aliceblue;
    cursor: pointer;
    width: 40px;

}