h1 {
    color: rgb(9, 9, 113);
}

h3 {
    color: gray;
}

.container {
    display: flex;
    gap: 20px 10px;  
    flex-direction: column;
    padding: 10;
    margin: auto;
    align-items: center;
    
    
}

.bloc {
    display: flex;
    border: solid;
    border-radius: 3%;
    height: 80px;
    width: 90%;
    border-color: rgb(144, 144, 185);
    
    
}

.mot {
    margin: 10px 20px;
    color: rgba(0, 0, 255, 0.667);
    font-family: "Lucida Console", Courier, monospace;
}

img {
    margin: 10px 20px;
}

