<div class="container">
    <h1>Select your Plan</h1>
    <h3>You have the option of monthly or yearly billing.</h3>
   
  <div class="bloc">
    <img src="assets/assets/images/icon-arcade.svg" alt="">
    <p class="mot">Arcade</p>
</div>
  <div class="bloc">
    <img src="assets/assets/images/icon-advanced.svg" alt="">
    <p class="mot">Advanced</p>
  </div>
  <div class="bloc">
    <img src="assets/assets/images/icon-pro.svg" alt="">
    <p class="mot">Pro</p>
  </div>
  <div class="bloc">
    <img src="" alt="">
  </div>

</div>
