/* * {
    padding: 0;
    margin: 0;
    
} */

.container {
    height: 100px;
    width: 100vw;
    position: absolute;
    margin-top: 40px;
}

.one{
    height: 25px;
    width: 100%;
}
.two {
    height: 25px;
    width: 100%;
}
.three {
    height: 25px;
    width: 100%;
}
.four {
    height: 25px;
    width: 100%;
}